$font-primary: "Poppins", sans-serif;
$font-second: "Roboto", sans-serif;

$black: #000000;
$white: #ffffff;
$light: #e5e5e5;
$lighter: #f9fbfb;
$gray: #d0d9df;
$grayer: #96a9ba;
$dark: #52585d;

$blue-light: #e3f6fc;
$blue-dark: #6588de;

$pink: #f7b6b4;
$green: #46d362;
$orange: #f3ba4a;
